{% extends 'master.html' %}

{% block master %}

<h2>Cadastro - Sistema de Validação</h2>

<hr>
<a class="btn btn-secondary align-self-end" href="/">LISTAR</a>
{{ message("message") }}
<form action="/users/store" method="post">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="nome" class="form-control" value="{{ sent('nome') }}">
        {{ erros("nome") }}
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" class="form-control" value="{{ sent('email') }}">
        {{ erros("email") }}
    </div>

    <div class="form-group">
        <label for="">Telefone</label>
        <input type="text" name="telefone" class="form-control" value="{{ sent('telefone') }}">
        {{ erros("telefone") }}
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>

</form>

{% endblock %}