{% extends 'master.html' %}

{% block master %}
<div class="row">
    <div class="col">
        <h1>Usuários</h1>
        <a class="btn btn-primary my-3" href="/users/create" >NOVO</a>
        {{ message("message") }}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">TELEFONE</th>
                <th scope="col">AÇÔES</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefone }}</td>
                <td>
                    <a href="/users/edit/{{ user.id }}" class="btn btn-warning">EDITAR</a>
                    <a href="/users/delete/{{ user.id }}" class="btn btn-danger">EXCLUIR</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ links | raw }}
    </div>
</div>
{% endblock %}